# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
